:root {
  --primary-color: #5fbaa7;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
}

.btn {
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px 12px;
}

.money-img {
  width: 150px;
}

.currency {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select {
  border: 1px solid #dedede;
  background-color: white;
  font-size: 16px;
  padding: 10px 20px 10px 10px;
  /*The above line doesn't apply to mac. the default behavior is apply For this we do the following code.
  --moz-appearance: none;
  --webkit-appearance: none;
  appearance: none;  */
}

.currency input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  color: var(--primary-color);
  font-size: 14px;
  padding: 0 10px;
}

select:focus,
input:focus,
button:focus {
  outline: 0;
}

@media (max-width: 600px) {
  .currency input {
    width: 200px;
  }
}
